
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img class="w-100 rounded" src="https://image.tmdb.org/t/p/w220_and_h330_face{{serie.poster_path}}">
        </div>
        <div class="col-md-8">
            <div class="mt-4">
                <h1>{{serie.name}}</h1>
                <p class="h4">Release Date: {{serie.first_air_date}}</p>
                <p class="h4">For adults: {{serie.adult}}</p>
                <p class="h4">Votes: {{serie.vote_count}}</p>
                <p class="h4">Average grade: {{serie.vote_average}}</p>
                <p class="h4">OverView: </p>
                <p class="text-justify">{{serie.overview}}</p>
            </div>
        </div>
    </div>
</div>