
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img class="w-100 rounded" src="https://image.tmdb.org/t/p/w220_and_h330_face{{movie.poster_path}}">
        </div>
        <div class="col-md-8">
            <div class="mt-4">
                <h1>{{movie.original_title}}</h1>
                <p class="h4">Release Date: {{movie.release_date}}</p>
                <p class="h4">For adults: {{movie.adult}}</p>
                <p class="h4">Votes: {{movie.vote_count}}</p>
                <p class="h4">Average grade: {{movie.vote_average}}</p>
                <p class="h4">OverView: </p>
                <p class="text-justify">{{movie.overview}}</p>
            </div>
        </div>
    </div>
</div>